* {
    box-sizing: border-box;
}


html {
    margin: auto;
    scroll-behavior: smooth;

    body {
        padding: 0;
        margin: 0 auto;
        cursor: default;
    
        /* font-family: system-ui; */
        font-family: math;
        /* overflow: hidden; */


        
    }


}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('dragon-background.jpeg');
    background: linear-gradient(darkred, rgb(95, 52, 0));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(10px); */
    z-index: -1;
}

/* body::-webkit-scrollbar {
    display: none;
} */

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('dragon-background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
} */




nav {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    padding-inline: 25px;
    width: 100%;
    max-width: 1400px;
    position: sticky;
    top: 15px;
    z-index: 1;
    margin-inline: 10px;
    margin: 0 auto;
    margin-top: 20px;
    filter:drop-shadow(5px 5px 20px black);
    color: white;

    .fa {
        font-size: 30px;
    }

    h1 {
        margin: 0;
    }


}



#nav-character-display {
    margin-right: 2vw;
    text-transform: uppercase;
    font-size: x-large;
    filter:drop-shadow(5px 5px 20px black);
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#navbar-content {
    display: flex;
    align-items: center;
    gap: 2vw;
}


.nav-container {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    
}

#menu-icon {
    cursor: pointer;
    font-size: 24px;
    
    :hover {
        opacity: 80%;
    }
}

.nav-menu {
    position: fixed;
    top: 10px;
    right: -100%;
    width: 100%;
    height: 92vh;
    /* background: #333; */
    /* color: #fff; */
    overflow-y: auto;
    transition: right 0.4s ease-in-out;
    z-index: 1000;

    border-radius: 10px;
    display: none;

    /* box-shadow: none; */
    /* filter: drop-shadow(0); */
    
}

.nav-menu.open {
    display: block;
    right: 20px;
    max-width: 96vw;
    
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    /* color: #fff; */
}

.menu {
    list-style: none;
    padding: 20px;

    li {
        margin-bottom: 30px;

        :hover {
            opacity: 60%;
        }

    }

}

.menu li a {
    /* color: #fff; */
    text-decoration: none;
    font-size: 26px;


    


}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    z-index: 50;
    background-color: #ff4444;
    color: white;
    border: none;
    cursor: pointer;
}

.game-container {
    padding: 25px;
}

.game-messages {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}


@media (min-width: 768px) {
    #nav-menu {
        width: 15%;
    }
}

@media screen and (max-width: 768px) {
    
    #nav-menu {
        /* height: 90vh; */
        width: 70%;
    }

    .menu {
        text-align: center;

    }



}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    flex-direction: row;
}

.gap1vw {
    gap: 1vw;
}

header {

    overflow: inherit;
    position: fixed;

    img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        overflow: inherit;

        /* opacity: 50%; */
        filter: blur(5px);

    }
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* margin: 10vh 0; */
}

.game-screen {
    text-align: center;
    padding: 12px;

    margin-bottom: 20vh;
}

.game-buttons {
    margin-top:10vh;
}

.game-buttons button {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#character-creation,#character-selection {
    margin-top: 60px;
    background-color: rgba(0,0,0,0.5); 
    padding: 15px;
    border-radius: 10px;
}

#character-selection h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: x-large;
    /* border-bottom: thin solid; */
}

#character-form input {
    padding: 15px;
    font-size: x-large;
    /* margin: 10px 0; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    width: -webkit-fill-available;
    max-width: 550px;

}

#character-form label {
    text-wrap: nowrap;
}

.character-form-group {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.character-form-group-buttons {
    display: flex;
    justify-content: end;
    gap: 2vw;
}

@media screen and (max-width: 1000px) {
    
    .character-form-group {
        flex-direction: column;
        gap: 0;
        margin-top: 50px;
    }

    #character-creation .flex {
        flex-direction: column;
    }

    .character-form-group-buttons {
        position: fixed;
        display: flex;
        bottom: 40px;
        right: 20px;
        gap: 2vw;

    }

}


label, button {
    font-size: 18px;
    padding: 10px 20px;

    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 10px black;
}

label {
    font-size: 22px;
    box-shadow: none !important;
}

button:hover {
    cursor: pointer;
}

#character-list {
    list-style: none;
    padding: 0;
}

#character-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    gap: 5vw;
    font-size: 24px; /* Larger font size for character name */
    text-transform: capitalize;
}

#character-list li input[type="radio"] {
    transform: scale(1.5); /* Adjust the scale factor as needed */
    margin-right: 10px; /* Add spacing between the radio button and character name */
}


#character-list li .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#character-list li button {
    background: none;
    border: none;
    border-radius: 4px;
    color: rgb(253, 60, 60);
    background-color: #161616;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;

}

#character-list li button:hover {
    background-color: #3d3d3d;
    border: none;
}




/* Modal styling */
.modal {
    display: none; 
    position: fixed; 
    z-index: 50; 
    /* padding-top: 60px;  */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}
.modal-content {
    /* background-color: #fefefe; */
    margin: 5% auto; 
    padding: 12px;
    /* border: 1px solid #888; */
    /* width: 50%;  */

    max-width: 550px;

    border-radius: 10px;
    overflow: hidden;
    text-wrap: wrap;

    p {
        overflow: hidden;
        max-width: 550px;
        margin-top: 0px;
        margin-bottom: 15px;
        word-wrap: anywhere;
        /* max-width: 85%; */
        line-height: 1.5em;

        font-size: 20px;
    }

    img {
        max-height: 50vh;
        border-radius: 10px;
        object-fit: cover;
        max-width: 100%;
    }

    #modal-text h2 {
        margin-top: 0;
    }

}


.close, .close-btn, .close-icon button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
    position: fixed;
    right: 40px;

}
.close:hover, .close-btn:hover,
.close:focus, .close-btn:hover {
    color: black;

    color: white;

    text-decoration: none;
    cursor: pointer;
}




.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    /* margin-bottom: 5px; */
}
input[type="number"] {
    width: 100px;
    padding: 5px;
}

.character-sheet {
    display: none;
    margin-top: 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* background-color: #f9f9f9; */

    background-color: rgba(0,0,0,0.5); 
    box-shadow: 2px 2px 10px black;

    color: white;
    text-align: left;

    h3 {
        margin-top: 0;
        text-transform: uppercase;
    }

}


@media screen and (max-width: 950px) {
    .close-icon {
        display: block;
    }

    .modal-content {
        padding-top: 60px;

    }

}


@media screen and (max-width: 800px) {
    
    .nav-title {
        gap: 3vw;
    }

}


@media screen and (max-width: 600px) {
    
    .modal-content {
        width: 90%;

        p {
            max-width: 90%;
        }
    }

    #character-selection h3 {
        /* font-size: medium; */
        
    }

    label, button {
        padding: 8px;
    }

}

@media screen and (max-width: 400px) {
    
    .nav-title h1 { 
        display: none;
    }

    .nav-container {
        gap: 2vw;
    }

    #character-form input {
        font-size: small;
    }

}





@media screen and (prefers-color-scheme: light) {
    

    .nav-menu {
        background-color: #ebebeb;
    }

    button {
        color: rgb(255, 255, 255);
        background-color: #6d6d6d;
    }

    .menu {
        li a {
            color:black;
        }
    }

    .modal-content {
        color: white;

        a {
            color: lightcoral;
        }

    }

    .game-screen {
        color: white;
    }
    
    #character-selection, #character-creation {
        box-shadow: 2px 2px 10px black;
    }

}

@media screen and (prefers-color-scheme: dark) {
    

    button {
        color: rgb(255, 255, 255);
        background-color: #3d3d3d;
    }

    button:hover {
        background-color: #161616;
    }

    .nav-menu {
        background-color: #161616;
    }

    .menu {
        li a {
            color:rgb(255, 255, 255);
        }
    }

    .modal-content {
        color: white;

        a {
            color: lightcoral;
        }

    }

    #character-selection, #character-creation {
        box-shadow: 2px 2px 10px black;
    }
}